@model AddToMealViewModel 

<form method="post">
    @Html.DropDownListFor(m => m.SelectedMealId,
    new SelectList(Model.Meals, "Id", "Name"),
    "Select")
    @Html.DropDownListFor(m => m.SelectedProductId,
    new SelectList(Model.Products, "Id", "Name"),
    "Select")
    <input asp-for="@Model.Amount" />
    <button type="submit" class="btn btn-primary">Add</button>
</form>

@* @await Html.PartialAsync("~/Views/Shared/_productTable.cshtml", Model);  *@