@model IEnumerable<IngredientsToMealDTO>


<button class="btn btn-success" onclick="addMore()">+</button>
<form method="post">
    <div class="wrapper">
        @for (var i = 0; i < Model.Count(); i++)
        {
            <div class="row-fluid">
                
                <div>
                    @Html.DropDownListFor(m => Model.ElementAt(i).SelectedMealId, new SelectList(Model.ElementAt(i).Meals, "Id", "Name"), "Select", new { required = "required" })
                    @Html.DropDownListFor(m => Model.ElementAt(i).SelectedProductId, new SelectList(Model.ElementAt(i).Products, "ProductId", "ProductName"), "Select", new { required = "required" })
                    <input asp-for="@Model.ElementAt(i).Amount" required/>
                </div>
            </div>
        }
    </div>
    <button class="btn btn-primary">Add</button>
</form>
<script>
    var index = @Model.Count();
    function addMore() {
        var newRow = $(".row-fluid:last").clone();
        //newRow.find(':input').val(''); // Clear input values
        newRow.find('select').prop('selectedIndex', 0); // Reset dropdowns
        newRow.find(':input').each(function () {
            var name = $(this).attr('name').replace(`[${index - 1}]`, `[${index}]`);
            $(this).attr('name', name);
        });
        newRow.appendTo(".wrapper");
        index++;
    }
</script>